<?xml version="1.0"?>
<launch>
        <group ns="fusion_front">
                <arg name="config_file" default="$(find lidar-camera-fusion)/cfg/cfg_params_front_3.yaml"/>
                <include file="$(find lidar-camera-fusion)/launch/vlp16OnImg.launch" >
                        <arg name="config_file" value="$(arg config_file)"/>
                </include>
        </group>

        <group ns="fusion_rear">
                <arg name="config_file" default="$(find lidar-camera-fusion)/cfg/cfg_params_rear_3.yaml"/>
                <include file="$(find lidar-camera-fusion)/launch/vlp16OnImg.launch" >
                        <arg name="config_file" value="$(arg config_file)"/>
                </include>
        </group>
</launch>
~